html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

h1 {
  font-family: 'Passion One', cursive;
  font-style: italic;
  font-size: 42px;
  text-shadow: 5px 0 #3F0B2A, 0 3px #3F0B2A, 0px 0 #3F0B2A, 0 5px white;
  text-indent: 0;
  text-align: center;
}

#title {
  display: flex;
  background: -webkit-linear-gradient(#832fd8, #1c176d);
  padding: 8px;
}

#puzzle {
  color: #f252c1;
}

#and {
  color: #3b6cf8;
}

#dragons {
  color: #ff4c07;
}

#game-board {
  height: 494px;
  width: 614px;
  background-color: #2b1719;
}

#board {
  width: 624px;
  margin: 0 auto;
  display: block;
  position: fixed;
}

#pac {
  width: 624px;
  margin: 0 auto;
  background: none;
  display: block;
}

li {
  float: left;
}

.orb-class {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.orb-fire {
  height: 100px;
  width: 100px;
  background-color: firebrick;
  border-radius: 50px;
  box-shadow: 0px 0px 5px red;
  margin: 1px;
}

.orb-water {
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
  border-radius: 50px;
  box-shadow: 0px 0px 5px blue;
  margin: 1px;
}

.orb-wood {
  height: 100px;
  width: 100px;
  background-color: yellowgreen;
  border-radius: 50px;
  box-shadow: 0px 0px 5px green;
  margin: 1px;
}

.orb-light {
  height: 100px;
  width: 100px;
  background-color: gold;
  border-radius: 50px;
  box-shadow: 0px 0px 5px gold;
  margin: 1px;
}

.orb-dark {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  border-radius: 50px;
  box-shadow: 0px 0px 5px purple;
  margin: 1px;
}

.orb-heart {
  height: 100px;
  width: 100px;
  margin: 1px;
}

.orb-poison {
  height: 100px;
  width: 100px;
  margin: 1px;
}

.orb-jammer {
  height: 100px;
  width: 100px;
  margin: 1px;
}

.orb-mortal {
  height: 100px;
  width: 100px;
  margin: 1px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
