html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

h1 {
  font-family: 'Passion One', cursive;
  font-style: italic;
  font-size: 42px;
  text-shadow: 5px 0 #3F0B2A, 0 3px #3F0B2A, 0px 0 #3F0B2A, 0 5px white;
  text-indent: 0;
  text-align: center;
}

h2 {
  padding-top: 10px;
  font-family: 'Passion One', cursive;
  font-size: 28px;
}

#rule {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
}

#score {
  font-family: 'Arbutus', cursive;
  font-size: 30px;
  color: yellowgreen;
  padding-bottom: 10px;
}

.seconds {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
  color: yellow;
  padding-bottom: 10px;
}

#stat {
  font-family: 'Roboto Slab', sans-serif;
  font-style: italic;
  color: whitesmoke;
  font-size: 26px;
}

.game-sidebar{
  float: right;
  display: inline-flex;
  padding-top: 10px;
  height: 524px;
}

#instructions{
  border: 10px dotted black;
  color: white;
  background: -webkit-linear-gradient(#832fd8, #1c176d);
  padding-bottom: 50px;
}

#title {
  display: flex;
  background: -webkit-linear-gradient(#832fd8, #1c176d);
  padding: 8px;
}

#puzzle {
  color: #f252c1;
}

#and {
  color: #3b6cf8;
}

#dragons {
  color: #ff4c07;
}

#score-timer {
  background: -webkit-linear-gradient(#394e1e, #575f11);
  padding: 30px 0px;
  border: 6px dashed black;
}

#game-board {
  border: 10px solid black;
  float: left;
  margin-right: 20px;
  height: 504px;
  width: 604px;
  background: -webkit-linear-gradient(#bf5895, #1c176d);
}

#board {
  width: 624px;
  margin: 0 auto;
  display: block;
  position: fixed;
}

#pac {
  width: 624px;
  margin: 0 auto;
  background: none;
  display: block;
}

li {
  float: left;
}

#reset {
  padding-top: 20px;
}

#reset-butt{
  font-family: 'Roboto Slab', sans-serif;
  color: whitesmoke;
  font-size: 18px;
  background-color: rebeccapurple;
  padding: 5px;
  border: 3px solid white;
  border-radius: 10px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
